html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
  background: #fafafa;
  margin: 0;
}
.phone .statusbar {
  display: none;
}
.phone .app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
@media (min-width: 600px) {
  .phone {
    background: #fff;
    border-radius: 68px;
    box-shadow: inset 0 0 0 2px #ddd,
                inset 0 0 0 6px #eee,
                0px 2px 50px rgba(0, 0, 0, 0.1);
    height: 872px;
    padding: 102px 22px;
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .phone .screen {
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 4px;
    height: 667px;
    position: relative;
    width: 374px;
  }
  .phone .statusbar {
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0px 4px;
    background: #202020;
    color: white;
    font-size: 10px;
  }
  .phone .app {
    height: calc(100% - 20px);
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {

    form.inline-form {
        display: flex;
        flex-direction: column;
        width:100%;

    }
  #homeInput{
        display:block;

    }
  button.btn {
      display:block;
      width:100%;
  }

}

.jumbotron{
    background-color: #43A546;
    color:white;
    padding:2vw 1vw;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color:lightgray;
    padding: 0 5%;
}
.homePage {
    display:flex;
    justify-content: center;
    width: 80%;
    padding: 10vw 0;
    margin:auto;
}
.homePage a {
    margin: 20px;
    padding: 3vw;
}
.intro{
    margin-bottom: 0;
    background-color: #43A546;
}
.jumbotron h1, .jumbotron p, .jumbotron h2 {
    text-align: center;
}
form{
    width:80%;
    margin:auto;
}

.input-group{
    width: 80%;
    margin:auto;
}
.panel{
    width: 90%;
    margin: 5% auto;
}
.about{
    width: 90%;
    border: 2px solid #43A546;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 5vw;
}
.about h2 {
    text-align: center;
}
.about p {
    width: 80%;
    margin:auto auto 20px auto;
}
#textInput{
    height: 250px;
}
.recipeForm{
    width:90%;
    margin:auto;
}

@media only screen and (max-width: 400px) {

    .inline-form{
        display:flex;
        flex-direction:column;
    }


}